*:focus {
    outline: 0 !important;
  }

.theme-day {
    --background: #FFE2E2;
    --field-bg: #F6F6F6;
    --border-radius: 50px;
    --field-box-shadow: inset 40px -40px 72px #ececec, inset -40px 40px 72px #ffffff;
    --color: #000;
    --font-family: 'Kaushan Script', cursive, sans-serif;
}

.theme-night {
    --background: #333456;
    --field-bg: #595B83;
    --border-radius: 50px;
    --box-shadow: inset 40px -40px 72px #55577e, inset -40px 40px 72px #5d5f88;
    --computer-hand-radius: 20px;
    --computer-hand-bg: #060930;
    --computer-hand-bs: inset 13px -13px 26px #05082b, inset -13px 13px 26px #070a35;
    --player-hand-bg: #F4ABC4;
    --player-hand-bs: inset 13px -13px 26px #d998ae, inset -13px 13px 26px #ffbeda;
    --player-hand-radius: 20px;
    --color: #FFF;
    --font-family: 'Sawarabi Mincho', sans-serif;
}

.player-hand {
    background: var(--player-hand-bg);
    box-shadow: var(--player-hand-bs);
    border-radius: var(--player-hand-radius);
}

.computer-hand {
    background: var(--computer-hand-bg);
    box-shadow: var(--computer-hand-bs);
    border-radius: var(--computer-hand-radius);
}


body {
    background: var(--background);
    color: var(--color);
    flex-direction: column;
    font-family: var(--font-family);
    margin: 0;
    height: 100vh;
}

section.field {
    border-radius: var(--field-radius);
    background: var(--field-bg);
    box-shadow: var(--field-box-shadow);
}

div {
    height: 150px;
    width: 90px;
}

#day-toggle {
    display: inline;
}